packages: 
  yum:
    php-pear: [] 
container_commands:
  00_update_channels:
    command: "pear channel-update pear.php.net"
  01_install_pkgs:
   command: "pear install -f Cache_Lite"
   command: "pear install -f Date"
# pear install -s would be better but is not usable due to: http://pear.php.net/bugs/bug.php?id=18320"
